matplotlib~=3.7.5
requests~=2.32.3
pandas~=2.0.3
numpy~=1.24.3
dash~=3.0.3
plotly~=6.0.1
flask~=3.0.3
keras~=2.13.1
sympy~=1.13.3
torch~=2.4.1
geopandas~=0.13.2
shapely~=2.0.7
tensorflow~=2.13.0
scikit-learn~=1.3.2
seaborn~=0.12.2
transformers~=4.46.3
nltk~=3.9.1
langchain~=0.2.17
langchain-community
accelerate>=0.26.0
feedparser~=6.0.11
aiohttp~=3.10.11
tqdm~=4.67.1
beautifulsoup4~=4.13.4
yfinance~=0.2.56
pillow~=10.4.0
scipy~=1.10.1